html body {
    font-family: 'Montserrat', sans-serif;
    background: #f4f4f4;
}

.header-top {
    height: 50px;
    background: #241E1F;
}

.header-top a {
    color: #878787;
    font-size: 14px;
    display: inline-block;
    margin-right: 40px;
    margin-top: 14px;
}
.header-top .avatar-profile{
    float: right;
    margin: 0 20px;
    margin-top: 18px;
    color: white;
}

.header-top .avatar-profile img{
    height:20px;
    width:20px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.header-top a.button {
    color: white;
    font-size: 12px;
    height: 25px;
    background-color: #0D87D0 !important;
    border-radius: 5px;
    padding: 5px 15px;
    text-transform: none;
    float: right;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 15px;
    /* display: inline-block; */
}

a {
    text-decoration: none !important;
}

* {
    text-decoration: none !important;

}

#site-header .header-inner {
    background-color: #0D87D0 !important;
    height: 90px;
    padding: 0;
    margin: 0;
    width: 100%;

}

#site-header .header-left {
    display: inline-block;
    vertical-align: middle;
    width: calc(120px);
}

#site-header .header-right {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 125px);
    position: relative;
}

#site-header .primary-menu a {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin: 0 15px;
}

#site-header .header-inner {
    padding-top: 4px;
}


#site-header button.search {
    padding: 10px;
    background: transparent;
    position: absolute;
    right: 0;
    top: -15px;
}

#site-header ul.primary-menu {
    margin-right: 70px;
    /* justify-content: flex-start; */
}

#site-header ul.primary-menu>li {
    margin-top: 0;
    margin: 0 5px;
}

#site-header li.current-menu-item {
    position: relative;
}

#site-header li.current-menu-item:after {
    content: '';
    position: absolute;
    background: white;
    height: 4px;
    width: calc(100% - 10px);
    left: 5px;
    bottom: -12px;
}

body #site-footer {
    background-color: #282C33;
    height: 121px;
    border: 0;
}

#site-footer p {
    color: #6F7885;
    font-size: 16px;
    margin: 0;
}

#top-footer {
    background-color: #2D323A;
}


#top-footer p {
    color: #6F7885;
    font-size: 16px;
}

#top-footer h2 {
    font-size: 22px;
    color: #eee;
    margin-top: 0;
}

#top-footer aside {
    padding-top: 100px;
    padding-bottom: 100px;
}

#top-footer .logo {
    margin-bottom: 42px;
}

#top-footer .socials {
    list-style: none;
    margin: 0;

}

#top-footer .socials li {
    display: inline-block;
    margin-right: 30px;
    margin-left: 0;
}


#top-footer .socials li a {
    color: #eee;
}
#top-footer .post {
    min-height:90px;
    position: relative;
    padding: 20px 0;
    display: block;
    border-bottom: 1px solid #444;
}
#top-footer .post:last-child{
    border: 0;
}
#top-footer .post img{
    width: 60px;
    height:  60px;
    position: absolute;
    top: 20px;
    object-fit: cover;
}

#top-footer .post h5{
    color: #6F7885;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-left:80px;
    margin-top: 0;
}

#top-footer .post p{
    color: #0D87D0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-left:80px;
    text-transform: uppercase;
}
#site-content .auth-page{
 padding-bottom: 100px;
 padding-top: 130px;
 background-image: url(/assets/bg.jpg);
 background-position: center;
 background-size: cover;
}

#site-content .auth-page .form{
    width: 50%;
    margin-left: 50%;
   
    background: white;
    border-radius: 10px;
    padding: 50px 100px;
}
#site-content .auth-page .form h4{
    text-align: center;
    color:#393E46;
    font-size: 22px;
}

#site-content .auth-page .form label{
    display: none;
}
#site-content .auth-page .form .text-success{
    font-size: 12px;
    color: green;
}

#site-content .auth-page .form .text-error{
    font-size: 12px;
    color: rgb(167, 14, 14);
}



#site-content .auth-page #wp-submit{
    background: #F9A64B;
    color: white;
    height: 66px;
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-top: 40px;
}

#site-content .auth-page input{
    height: 60px;
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-top: 40px;
}
#site-content  .auth-redirect{
    margin: 15px;
}

#site-content  .auth-redirect a{
    display: inline-block;
    width: 49%;
    text-align: center;
    color: #6F7885;
    font-size: 14px;
}
#site-content  .auth-redirect a:nth-child(2){
    color: #1A77F8;
}

#wpadminbar{
    display: none;
}

.list-post{
}
.list-post .item{
    background: white;
    display: inline-block;
    width: calc((100% - 60px )/ 3);
    vertical-align: top;
    margin-right: 30px;
    margin-bottom: 40px;
}
.list-post .item:nth-child(3n){
    margin-right: 0;
}
.list-post .item .image{
    position: relative;
    height: 200px;
    background: #ccc;

}
.list-post .item .image img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.list-post .item .image .tag{
    position: absolute;
    bottom: 10px;
    left: 30px;
    background: #0D87D0;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 30px;
    color: white;
}
.list-post .item .title{
    font-size: 18px;
    color: #393E46;
    font-weight: bold;
    margin: 0;
    margin-top: 60px;
    padding: 0 30px;
    position: relative;

}
.list-post .item .title::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 70px;
    background: #0D87D0;
    top: -20px;
}

.list-post .item .content{
    font-size: 16px;
    color: #6F7885;
    margin: 0;
    padding: 0 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    max-height: 100px;
    overflow: hidden;
}
.list-post .item .item-footer{
    background: #FAFAFA;
    min-height: 60px;
    display: flex;
    padding: 0 30px;
    align-items: center;
}
.list-post .item .item-footer p{
  color: #6F7885;
  font-size: 12px;
  margin: 0;
  margin-left: 10px;
}

.list-post .item .item-footer img{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    object-position: center;
    object-fit: cover;
}
.paging-navigation {
    margin: 50px 0;
    text-align: center;
}
.paging-navigation a{
    display: inline-block;
    padding: 14px;
    color: #999999;
    font-size: 14px;
    min-width: 50px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}
.paging-navigation a:hover{
    color: #0D87D0;
}

.paging-navigation a.current-page{
    border-radius: 5px;
    border: 1px solid #D9D9D7;
    color: #99999950;

}
.paging-navigation .next{
    border-radius: 5px;
    background: #D9D9D7;
    padding: 14px 35px;
}

.paging-navigation .next:hover{
    background: #0D87D0;
    color: white;
}
