
html body{
    font-family: 'Montserrat', sans-serif;
}
.header-top{
    height: 50px;
    background: #241E1F;
}

.header-top a{
    color: #878787;
    font-size: 14px;
    display: inline-block;
    margin-right: 40px;
    margin-top: 18px;
}
.header-top a.button{
    color: white;
    font-size: 12px;
    height: 25px;
    background-color: #0D87D0!important;
    border-radius: 5px;
    padding: 5px 15px;
    text-transform: none;
    float: right;
    margin-left:15px;
    margin-right:0;
    margin-top: 15px;
    /* display: inline-block; */
}

a{
    text-decoration: none!important;
}
*{
    text-decoration: none!important;

}

#site-header .header-inner{
    background-color: #0D87D0!important;
    height: 90px;
    padding: 0;
    margin: 0;
    width: 100%;
    
}

#site-header .header-left{
    display: inline-block;
    vertical-align: middle;
    width:calc(120px);
}

#site-header .header-right{
    display: inline-block;
    vertical-align: middle;
    width:calc(100% - 125px);
    position: relative;
}

#site-header .primary-menu a{
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin:0 15px;
}
#site-header .header-inner {
    padding-top: 4px;
}


#site-header button.search{
    padding: 10px;
    background: transparent;
    position: absolute;
    right: 0;
    top: -15px;
}

#site-header ul.primary-menu{
    margin-right: 70px;
    /* justify-content: flex-start; */
}
#site-header ul.primary-menu > li{
    margin-top: 0;
    margin: 0 5px;
}

#site-header li.current-menu-item{
    position: relative;
}
#site-header li.current-menu-item:after {
    content: '';
    position: absolute;
    background: white;
    height: 4px;
    width: calc(100% - 10px);
    left: 5px;
    bottom: -12px;
}